<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="apple-touch-icon" href="images/favicon.png" />
        
        <meta property="og:type" content="video.movie" />
        
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div id="header">
        
        	<div class="container">
        
                <div class="row">
                
                    <div id="branding" class="span4"><img src="images/logo-15sfest.png" width="487" height="317" alt="#15sfest - The Fifteen Second Film Festival"></div>
                    
                    <div class="span3 offset2">
                    
                        <h1>#15sfest</h1>
                    
                    </div>
                    
                    <nav class="span3" ng-controller="AuthCtrl" ng-init="checkStatus()">                    
                        <ul id="main-nav" class="nav nav-tabs nav-stacked">
                            <li class="login-btn"><a href="#" ng-hide="loggedIn" ng-click="openAuth()">Login</a></li>
                            <li class="login-btn logged-in"><a href="#" ng-show="loggedIn" class="clearfix" ><img class="profile-img" ng-src="{{profile.profilePicture}}">{{profile.username}}</a></li>
                            <li><a href="#">Submit a Film</a></li>
                            <li><a href="#">Categories</a></li>
                            <li><a href="#">Winners</a></li>
                        </ul>
                    </nav>
                
                </div>
            </div>
            
        </div> 
        <div id="board" class="gold"  ng-controller="VideoListCtrl">
        
            <div class="container">
                <div class="row">
                    <div class="best-of span6">
                        <h2>Highest Rated</h2>
                        <div class="row">
                                <div ng-repeat="best in bestOfList" class="entry span3">
                                    <img ng-click="imgClick(best)" ng-src="{{best.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                                    <div class="meta clearfix">
                                        <p class="user">{{best.user.username}}</p>
                                        <p class="desc">{{best.caption.text}}</p>
                                        <p class="geo"><img ng-show="{{best.location.country}}" ng-src="/images/flags/{{best.location.country}}.png"></p>
                                        <p class="rating"><span class="hash">###</span>##</p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    
                    <div class="featured span3">
                        <h2>Featured</h2>       
                        <div ng-repeat="feature in featuredList" class="entry">
                            <img ng-click="imgClick(feature)" ng-src="{{feature.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                            <div class="meta clearfix">
                                <p class="user">{{feature.user.username}}</p>
                                <p class="desc">{{feature.caption.text}}</p>
                                <p class="geo"><img ng-show="{{feature.location.country}}" ng-src="/images/flags/{{feature.location.country}}.png"></p>
                                <p class="rating"><span class="hash">###</span>##</p>
                            </div>    
                        </div>
                    </div>
                    
                    
                    <div class="latest span3">
                        <h2>Latest</h2>            
                        <div ng-repeat="latest in latestList" class="entry"> 
                            <img ng-click="imgClick(latest)" ng-src="{{latest.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                            <div class="meta clearfix">
                                <p class="user">{{latest.user.username}}</p>
                                <p class="desc">{{latest.caption.text}}</p>
                                <p class="geo"><img ng-show="{{latest.location.country}}" ng-src="/images/flags/{{latest.location.country}}.png"></p>
                                <p class="rating"><span class="hash">###</span>##</p>
                            </div>    
                        </div>   
                    </div>
                </div>
            </div>
            <div    class="modal-container">
                <lightbox source="{{modal.videoSrc}}" ></lightbox>
            </div>
        </div>

        <div id="participate" class="green">
        
        	<div class="container">
            
            	<div class="row">
                
                	<div class="span3">
                    
                    	<h2>Film</h2>
                        <p>
                         Film your 15 second or less film on Instagram
                        </p>
                                       
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Enter</h2>
                        <p>
                         Enter your film by adding a Title and #15sfest
                        </p>
                        <p>
                         You can categorize your film by adding more #Hastags
                        </p>
                    
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Promote</h2>
                        <p>
                         Login to 15sFest with your Instagram account to see your profile and films
                        </p>
                        <p>
                         Share them and get rated
                        </p>
                    
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Awards</h2>
                        <p>
                         There are daily and week
                        </p>
                        <p>
                         You can categorize your film by adding more #Hastags
                        </p>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
        <div id="cats" class="gold">
        
        </div>
        
        

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
