<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="apple-touch-icon" href="images/favicon.png" />
        
        <meta property="og:type" content="video.movie" />
        
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div id="header">
        
        	<div class="container">
        
                <div class="row">
                
                    <div id="branding" class="span4"><img src="images/logo-15sfest.png" width="487" height="317" alt="#15sfest - The Fifteen Second Film Festival"></div>
                    
                    <div class="span3 offset2">
                    
                        <h1>#15sfest</h1>
                    
                    </div>
                    
                    <nav class="span3" ng-controller="AuthCtrl" ng-init="checkStatus()">                    
                        <ul id="main-nav" class="nav nav-tabs nav-stacked">
                            <li class="login-btn"><a ng-hide="loggedIn" ng-click="openAuth()">Login</a></li>
                            <li class="login-btn logged-in"><a ng-show="loggedIn" ng-click="openProfile()" class="clearfix" ><img class="profile-img" ng-src="{{profile.profilePicture}}">{{profile.username}}</a></li>
                            <li><a class="scroll-btn" href="#" data="categories">Categories</a></li>
                            <li><a class="scroll-btn" href="#" data="participate">Submit a Film</a></li>
                            <!--
                                <li><a href="#">Winners</a></li>
                            -->
                        </ul>
                    </nav>
                
                </div>
            </div>
            
        </div>
        <div id="board" class="gold" ng-view></div>
        
        <div id="categories" class="green">
        
        	<div class="container">            
            	               
            	<a class="btn btn-large">Comedy</a>  
                <a class="btn btn-large">Horror</a>    
                <a class="btn btn-large">Romance</a>  
                <a class="btn btn-large">Action</a> 
                <a class="btn btn-large">Experimental</a> 
                <a class="btn btn-large">Fantasy</a>   
                <a class="btn btn-large">Science Fiction</a>  
                <a class="btn btn-large">Drama</a>
                <a class="btn btn-large hilite">View All</a>                                                               
                
            </div>
        
        </div>       

        <div id="participate" class="gold">
        
        	<div class="container">
            
            	<div class="row">
                
                	<div class="span3">
                    
                    	<img src="images/submit-001-film.png" alt="1. Film">
                    	<h2>Film</h2>
                      	<p>
                        Shoot your 15 second or less film using Instagram.
                       	</p>
                                       
                    </div>
                    
                    <div class="span3">
                    	
                        <img src="images/submit-002-enter.png" alt="2. Enter">
                    	<h2>Enter</h2>
                        <p>
                         Enter your film by adding a Title and #15sfest to your caption.
                        <br /><br />
                         You can categorize your film by adding more #hastags.
                        </p>
                    
                    </div>
                    
                    <div class="span3">
                    	
                        <img src="images/submit-003-rate.png" alt="3. Rate">
                    	<h2>Rating</h2>
                        <p>
                         Your film is viewed and rated here between 1 to 5 hashtags by users.
                        </p>
                                            
                    </div>
                    
                    <div class="span3">
                    	
                        <img src="images/submit-004-awards.png" alt="4. Awards">
                    	<h2>Awards</h2>
                        <p>
                         Highest rated films are awarded daily and weekly.
                        <br /><br />
                         We curate the best of the best once a month for the highest honors.
                        </p>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
        
        <div id="footer" class="green">
        
        	<div class="container">            
            	               
            	<div class="span4 offset4">
                    <p>Made in Washington, DC by</p>
                    <a href="http://qorvis.com">
                    <img src="images/logo-qorvis.png" width="272" height="107" alt="Qorvis">
                    </a>
        		</div>
        </div>       
        
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
