<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <link rel="shortcut icon" href="images/favicon.png" />
        <link rel="apple-touch-icon" href="images/favicon.png" />
        
        <meta property="og:type" content="video.movie" />
        
        <link rel="stylesheet" href="styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div id="header">
        
        	<div class="container">
        
                <div class="row">
                
                    <div id="branding" class="span4"><img src="images/logo-15sfest.png" width="487" height="317" alt="#15sfest - The Fifteen Second Film Festival"></div>
                    
                    <div class="span3 offset2">
                    
                        <h1>#15sfest</h1>
                    
                    </div>
                    
                    <nav class="span3" ng-controller="AuthCtrl" ng-init="checkStatus()">                    
                        <ul id="main-nav" class="nav nav-tabs nav-stacked">
                            <li class="login-btn"><a href="#" ng-hide="loggedIn" ng-click="openAuth()">Login</a></li>
                            <li class="login-btn logged-in"><a href="#" ng-show="loggedIn" class="clearfix" ><img class="profile-img" ng-src="{{profile.profilePicture}}">{{profile.username}}</a></li>
                            <li><a class="scroll-btn" href="#" data="categories">Categories</a></li>
                            <li><a class="scroll-btn" href="#" data="participate">Submit a Film</a></li>
                            <!--
                                <li><a href="#">Winners</a></li>
                            -->
                        </ul>
                    </nav>
                
                </div>
            </div>
            
        </div> 
        <div id="board" class="gold"  ng-controller="VideoListCtrl">
        
            <div class="container">
                <div class="row">
                    <div class="best-of span6">
                        <h2>Highest Rated</h2>
                        <div class="row">
                                <div ng-repeat="best in bestOfList" ng-animate=" 'fadeIn' " class="entry span3">
                                    <img ng-click="imgClick(best)" ng-src="{{best.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                                    <div class="meta clearfix">
                                        <p class="user">{{best.user.username}}</p>
                                        <p class="desc">{{best.caption.text}}</p>
                                        <p class="geo"><img ng-show="{{best.location.country}}" ng-src="/images/flags/{{best.location.country}}.png"></p>
                                        <p class="rating"><rating value="best.score" max="5" readonly="true"></rating></p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    
                    <div class="featured span3">
                        <h2>Featured</h2>       
                        <div ng-repeat="feature in featuredList" ng-animate=" 'fadeIn' " class="entry">
                            <img ng-click="imgClick(feature)" ng-src="{{feature.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                            <div class="meta clearfix">
                                <p class="user">{{feature.user.username}}</p>
                                <p class="desc">{{feature.caption.text}}</p>
                                <p class="geo"><img ng-show="{{feature.location.country}}" ng-src="/images/flags/{{feature.location.country}}.png"></p>
                                <p class="rating"><span class="hash">###</span>##</p>
                            </div>    
                        </div>
                    </div>
                    
                    
                    <div class="latest span3">
                        <h2>Latest</h2>            
                        <div ng-repeat="latest in latestList" ng-animate=" 'fadeIn' " class="entry"> 
                            <img ng-click="imgClick(latest)" ng-src="{{latest.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                            <div class="meta clearfix">
                                <p class="user">{{latest.user.username}}</p>
                                <p class="desc">{{latest.caption.text}}</p>
                                <p class="geo"><img ng-show="{{latest.location.country}}" ng-src="/images/flags/{{latest.location.country}}.png"></p>
                                <p class="rating"><span class="hash">###</span>##</p>
                            </div>    
                        </div>   
                    </div>
                </div>
            </div>
            <!--
            ### MODAL ###
            -->
            <div class="modal-container">
                <div ng-controller="LightboxCtrl" id="modal-window" modal="isOpen" close="closeModal()" options="opts">
                    <div class="modal-body row">
                        <div id="modal-content" class="span6">
                            <div class="row" >
                                <video id="videoPlayer" ng-init="videoInit()" class="span6" width="auto" height="auto">
                                    <source id="source" ng-src="{{source}}" />
                                </video>
                            </div>
                            <div class="row" ng-switch on="display" ng-animate=" 'fadeIn' ">
                                <!--<div ng-show="display=='video'" ng-include src="'templates/video.html'" />
                                <div ng-show="display=='rate'" ng-include src="'templates/rate.html'" />
                                <div ng-show="display=='auth'" ng-include src="'templates/auth.html'" />-->
                                <div ng-switch-when="rate" ng-include src="tpl.rate" ng-animate=" 'fadeIn' "></div>
                                <div ng-switch-when="auth" ng-include src="tpl.auth" ng-animate=" 'fadeIn' "></div>
                                <div ng-switch-when="video" ng-include src="tpl.videoControls" ng-animate=" 'fadeIn' "></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            ### MODAL END ###
            -->
        </div>
        </div>
        
        
        <div id="categories" class="green">
        
        	<div class="container">            
            	               
            	<a class="btn btn-large">Comedy</a>  
                <a class="btn btn-large">Horror</a>    
                <a class="btn btn-large">Romance</a>  
                <a class="btn btn-large">Action</a> 
                <a class="btn btn-large">Experimental</a> 
                <a class="btn btn-large">Fantasy</a>   
                <a class="btn btn-large">Science Fiction</a>  
                <a class="btn btn-large">Drama</a>
                <a class="btn btn-large hilite">View All</a>                                                               
                
            </div>
        
        </div>       

        <div id="participate" class="gold">
        
        	<div class="container">
            
            	<div class="row">
                
                	<div class="span3">
                    
                    	<h2>Film</h2>
                        <p>
                         Shoot your 15 second or less film using Instagram.
                        </p>
                                       
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Enter</h2>
                        <p>
                         Enter your film by adding a Title and #15sfest.
                        </p>
                        <p>
                         You can categorize your film by adding more #hastags.
                        </p>
                    
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Rating</h2>
                        <p>
                         Your film is rated here between 1 to 5 hashtags.
                        </p>
                                            
                    </div>
                    
                    <div class="span3">
                    
                    	<h2>Awards</h2>
                        <p>
                         Highest rated films are awarded daily and weekly.
                        </p>
                        <p>
                         We curate the best of the best once a month for the highest honors.
                        </p>
                    
                    </div>
                
                </div>
            
            </div>
        
        </div>
        
        <div id="footer" class="green">
        
        	<div class="container">            
            	               
            	<div class="span4 offset4">
                    <p>Made in Washington, DC by</p>
                    <a href="http://qorvis.com">
                    <img src="images/logo-qorvis.png" width="272" height="107" alt="Qorvis">
                    </a>
        		</div>
        </div>       
        
        
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
</body>
</html>
