<!--
### MODAL ###
-->
    <div id="modal-window" modal="isOpen" close="closeModal()" options="opts">
        <div class="modal-body">
            <div id="modal-content">
                <video id="videoPlayer" ng-init="videoInit()">
                    <source id="source" ng-src="{{source}}" />
                </video>
                <div class="" ng-switch on="display" ng-animate=" 'fadeIn' ">
                    <div ng-switch-when="rate" ng-include src="tpl.rate" ng-animate=" 'fadeIn' "></div>
                    <div ng-switch-when="auth" ng-include src="tpl.auth" ng-animate=" 'fadeIn' "></div>
                    <div ng-switch-when="video" ng-include src="tpl.videoControls" ng-animate=" 'fadeIn' "></div>
                </div>
            </div>
        </div>
    </div>
<!--
### MODAL END ###
-->