<div id="profile" class="container gold">
    
    <div class="row">
        <div class="span3">
            <img class="avatar" ng-src="{{profile.profilePicture}}">
        </div>
        <div class="span3">
        	<h1>{{profile.username}}</h1>
            <p><a href="{{profile.website}}">{{profile.website}}</a></p>
        	<p>{{profile.bio}}</p>
        </div>
        <div class="span3">
            <a href="#"><img src="images/icon-Instagram.png" width="48" height="48" alt="Instagram" /></a>
            <a href="#"><img src="images/icon-FB.png" width="48" height="48" alt="Facebook" /></a>
            <a href="#"><img src="images/icon-Twitter.png" width="48" height="48" alt="Twitter" /></a>
        </div>
        <div class="span3 badges">
        
        
            
        </div>
	</div>	

</div>

<div id="films" class="green arrow_box">

	<div class="container">
	
        <h2>Films</h2>
    
        <div class="row">
            <div ng-repeat="video in videos" ng-animate=" 'fadeIn' " class="entry span3">
                <img ng-click="imgClick(video)" ng-src="{{video.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                <div class="meta clearfix">
                    <p class="desc">{{video.caption.text}}</p>
                    <p class="geo"><img ng-show="{{video.location.country}}" ng-src="/images/flags/{{video.location.country}}.png"></p>
                    <p class="rating"><rating value="video.score" max="5" readonly="true"></rating></p>
                </div>
            </div>
        </div>	
        
    </div>			

</div>