<div id="rate-window" ng-controller="RateCtrl" class="">
	<div class="rate-pad">
    <h2>Rate this film</h2>
    <div>
        <textarea rows="4" cols="100" ng-model="message">http://15sfest.com Rocks my Socks!! #15sfest</textarea>
    </div>
    <div class="rate-input">
        <rating value="rate" max="5" readonly="isReadonly"></rating>
    </div>
    <div id="share-window" ng-controller="AuthCtrl">
	    <div class="btn-group"  ng-init="checkStatus()">
	        <button type="button"   ng-class="service.key" ng-repeat="service in services"  ng-model="service.checked" ng-click="login(service)" btn-checkbox></button>
	    </div>
	</div>

	<button class="btn btn-large btn-block btn-primary rate-submit" ng-click="submitRating()" type="button">Submit</button>
    </div>
</div>

