    <div class="container">
      <div class="row">
        <div class="{{group.css}} span{{group.span}}" ng-repeat="group in videos track by $index">
          <h2>{{group.title}}</h2>
          <div class="row">
            <div ng-repeat="video in group.videos track by $index" class="entry span3">
                <img ng-click="imgClick(video)" ng-src="{{video.images.standard_resolution.url}}" width="612" height="612" alt="FPO">
                <div class="meta clearfix">
                    <p class="user">{{video.user.username}}</p>
                    <p class="desc">{{video.caption.text}}</p>
                    <p class="geo"><img ng-show="video.location.country" class="flag flag-{{video.location.country}}"></p>
                    <p class="rating"><rating value="video.score" max="5" readonly="true"></rating></p>
                </div>
            </div>
            <div ng-hide="group.videos.length" class="span12"><h1>{{group.empty}}</h1></div>
          </div>
        </div>
      </div>
    </div>