@charset "UTF-8";
/* 


  ___                   _     
 / _ \  ___  _ ____   _(_)___ 
| | | |/ _ \| '__\ \ / / / __|
| |_| | (_) | |   \ V /| \__ \
 \__\_\\___/|_|    \_/ |_|___/



*/






html {
	height:100%;
}


body {
	background-color:#567572;
	font-family:"Courier New", Courier, monospace;
	font-size:16px;
	color:#E5C36E;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

a {	color: #E5C36E;	text-decoration: none; }

h1 {
	font-family:salome, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h2 {
	font-family:salome, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-bottom:4px #E5C36E solid;
}

.gold h1, .gold h2 {
	color:#567572;
	border-color:#567572;
}

.green h1, .green h2 {
	color:#E5C36E;
	border-color:#E5C36E;
}

div.gold p, div.gold a {
	color:#567572;

}

div.gold a {
	font-weight:bold;
}

#participate p {
	font-size:20px;
	line-height:24px;
}

.arrow_box {
	position: relative;
	background: #567572;
}
.arrow_box:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(86, 117, 114, 0);
	border-bottom-color: #567572;
	border-width: 30px;
	left: 50%;
	margin-left: -30px;
}



#header {
	background:transparent url(../images/q-pattern.png) top left repeat;
	padding-bottom:20px;
}

#branding {
	padding-top:20px;
	padding-bottom:20px;
}

#branding img {
	display:block;
	margin:0 auto;
}

#header h1 {
	text-align:right;
	color:#9E9C70;
	font-size:4em;
	line-height:1.2em;
}

#header nav {
	height:100%;
}

#main-nav {
	
}

.nav-tabs > li > a {
	background-color:#E5C36E;
	text-align:left;
	font-size:2.5em;
	color:#567572;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 1.2em;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tabs.nav-stacked > li > a {
	font-family:tommaso, Helvetica, sans-serif;
	border:none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0;
	border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius-topleft: 0;
	border-top-left-radius: 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
}

.nav-tabs.nav-stacked > li > a:hover, .nav-tabs.nav-stacked > li > a:focus {
	background-color:#dfb346;
}

#main-nav .login-btn {
	border-bottom:4px #567572 solid;
}

#main-nav .login-btn a {
	background:#fff url(../images/icon-login.png) 20px 20px no-repeat;
	text-align:right;
	font-family:salome, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:1.4em;
	line-height:1.6em;
}

#main-nav .logged-in a {
	background-image:none;
}

#main-nav .login-btn a:hover {
	background-color:#fff7e2;
}

.profile-img {
	display:block;
	float:left;
	width:35px;
	height:35px;
	-webkit-border-radius: 500px;
    		border-radius: 500px;
}









#board {
	padding-top:50px;
	padding-bottom:100px;
}

#board .entry {
	padding-top:10px;
	padding-bottom:10px;
}

#board h2 {
	font-size:1.8em;
}

#board .entry img {
	display:block;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}

.gold .entry .meta {
	padding: 10px;
	background-color:#567572;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.gold .entry .meta {
	height: 125px;
}

.green .entry .meta {
	padding:10px;
	background-color:#E5C36E;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.gold .entry p {
	font-size:14px;
	color:#E5C36E;
}

.green .entry p {
	font-size:14px;
	color:#567572;
}

.gold .entry .user {
	font-size:16px;
	font-weight:bold;
	color:#E5C36E;
}

.green .entry .user {
	font-size:16px;
	font-weight:bold;
	color:#567572;
}

.green .entry .desc {
	height:40px;
}

.green .entry .geo {
	float:right;
	font-size:12px;
	text-align:right;
}

.entry .geo img {
	display:inline;
}

.entry .rating {
	float:left;
	font-size:24px;
	font-weight:bold;
}

.green .entry .rating .hash {
	color:#E5C36E;
}

.green .entry .rating {
	color:#8f936f;
}


.modal{width:auto;}
.modal-body{max-height:inherit;}





#categories {
	padding-top:80px;
	padding-bottom:100px;
}

.btn {
display: inline-block;
padding: 10px 20px;
margin-bottom: 0;
font-family:tommaso, Helvetica, sans-serif;
letter-spacing:2px;
font-size: 40px;
line-height: 40px;
text-align: center;
vertical-align: middle;
cursor: pointer;
color: #E5C36E;
text-shadow:none;
background-color: #567572;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-image: none;
background-repeat: none;
filter: none;
border-color: none;
border-color: none;
filter: none;
border: 4px #43625f solid;
border-bottom-color: none;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.btn:hover {
	color:#E5C36E;
	background-color:#43625f;
}

.btn:active {
	background-color:#365350;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	
}

div#categories .btn {
	margin:20px 40px 20px 0;
}

.hilite {
	color:#567572;
	background-color:#E5C36E;
}

.hilite:hover {
	color:#43625f;
	background-color:#dfb346;
}







#participate {
	padding-top:80px;
	padding-bottom:100px;
}

#participate h2 {
	margin:0;
	padding-left:20px;
	padding-right:20px;
	background:#dfb346;
	border-bottom:none;
	-webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
	
}

#participate p {
	padding:20px;
	background:#567572;
	color:#E5C36E;
	-webkit-border-radius: 0 0 2px 2px;
       -moz-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
}

#participate img {
	background:#fff7e2;
	-webkit-border-radius: 2px 2px 0 0;
       -moz-border-radius: 2px 2px 0 0;
            border-radius: 2px 2px 0 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	        box-sizing: border-box;  
}

#footer {
	padding-top:80px;
	padding-bottom:100px;
	background:transparent url(../images/q-pattern.png) top left repeat;
}

.green { background:#567572; }
.gold { background:#E5C36E; }


::selection {
background: #567572;
color:#E5C36E;
text-shadow: none;
}




.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #365350;
-webkit-box-shadow: inset 0 0 200px rgba(0,0,0, 0.4);
   -moz-box-shadow: inset 0 0 200px rgba(0,0,0, 0.4);
        box-shadow: inset 0 0 200px rgba(0,0,0, 0.4);
}

.modal-backdrop, .modal-backdrop.fade.in {
opacity: 1;
filter: alpha(opacity=100);
}

.modal {
position: fixed;
top: 10%;
/*left: 50%;
z-index: 1050;
margin-left: -285px;*/
width: 612px;
height: 612px;
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
background-color:#E5C36E;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
outline: none;
}

.modal-body {
	overflow:visible;
	padding:0;
}


#videoPlayer {
	z-index:990;
	cursor: pointer;
	width: 612px;
	height: 612px;
}

#control-window, #rate-window, #auth-window {
	height:100%;
	width:100%;
	position:absolute;
	z-index:999;
	left:0;
	top:0;
}

#mute-btn {
	width:60px;
	margin:-30px 0 0 0;
	height:30px;
	background:#567572;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}

#control-window.playing #play-btn {
	opacity:0;
}

#play-btn {
	width:612px;
	height:612px;
	background:transparent url(../images/icon-btn-play.png) center center no-repeat;
	cursor:pointer;
}

#play-btn span {
	display:none;
}



#rate-window, #auth-window {
	background-color:rgba(231,193,100, 0.8);
}

.rate-pad {
	width:80%;
	height:80%;
	padding:10%;
}

#rate-window h2, #auth-window h2 {
	margin-top:60px;
	color:#567572;
	border-color:#567572;
	
}

#rate-window .icon-star-empty {
	width:80px;
	height:80px;
	background:transparent url(../images/icon-rate-hash.png) center center no-repeat;
}

#rate-window .icon-star {
	width:80px;
	height:80px;
	background:transparent url(../images/icon-rate-hash-filled.png) center center no-repeat;
}

/*#rate-window #share-window {
	display:none;
}

#rate-window textarea {
	display:none;
}*/

.rate-submit {
	margin-top:30px;
}


@media (max-width: 767px){
	.modal {
		position: fixed;
		top: 20px;
		right: 20px;
		left: 20px;
		width: auto;
		height: auto;
		margin: 0;
	}

	.modal.fade.in {
		top: 50px;
	}

	#videoPlayer {
		width: 100%;
		height: auto;
	}
	#control-window,
	#play-btn {
		width:100%;
		height:100%;
	}
}


.fadeIn-leave {
-webkit-transition: .2s linear all;
	-moz-transition: .2s linear all;
	-o-transition: .2s linear all;
	-ms-transition: .2s linear all;
	transition: .2s linear all;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.fadeIn-enter {
-webkit-transition: .5s linear all;
	-moz-transition: .5s linear all;
	-o-transition: .5s linear all;
	-ms-transition: .5s linear all;
	transition: .5s linear all;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}
 
.fadeIn-enter.fadeIn-enter-active {
	opacity: 1;
}

#auth-window .btn {
	width:100%;
	margin:10px 0;
}

#profile {
	padding-bottom:50px;
}

#profile + #films {
	padding-top:50px;
	padding-bottom:50px;
}

#profile .avatar {
	display:block;
	margin:0 auto;
	-webkit-border-radius: 500px;
	   -moz-border-radius: 500px;
	        border-radius: 500px;
}



@media (max-width: 979px) {
#header h1 {

font-size: 3em;
line-height: 1.2em;
}
}









@media (max-width: 767px) {
	
body { padding:0; }
.container { padding:0 20px; }

}






/**
 * Ed's CSS
 */

a,
a:hover,
.btn,
.btn:hover,
button,
button:hover{
	-webkit-transition: .25s linear all;
	-moz-transition: .25s linear all;
	-o-transition: .25s linear all;
	-ms-transition: .25s linear all;
	transition: .25s linear all;
}

a,
.btn,
.rate-pad i,
.entry img{
	cursor: pointer;
}

.entry .meta a{
	color: #E5C36E;
}

.rate-input{
	text-align: center;
}

.modal textarea{
	width: 436px;
	background: transparent;
	border: 4px solid #567572;
	border-radius: 0;
	color:#567572;
	font-family: "Courier New", Courier, monospace;
}

#share-window button{
	width: 48px;
	height: 48px;
	background-size: 48px 48px;
	border: none;
	opacity: .5;
}

#share-window button:hover,
#share-window button.active{
	opacity: 1;
}

button.instagram{
	background: url('../images/icon-Instagram.png');
}
button.twitter{
	background: url('../images/icon-Twitter.png');
}
button.facebook{
	background: url('../images/icon-FB.png');
}
