<!doctype html>
<html>
<head>
  <title>#15sfest - Authorization Successful</title>
</head>
<body>
  Authorization Successful
  <script type="text/javascript">
    userObject = <%- JSON.stringify(user) %>;
    if (window.opener) {
      try {
        window.opener.sendUser(userObject);
      } catch (err) {
        console.log("sent to opener with exception in parent");
        window.close();      
      }
      console.log("sent to opener");
      window.close();
    }
  </script>
</body>
</html>
