<!doctype html>
<html>
<head>
  <title>#15sfest - Enter your email to continue</title>
</head>
<body>
  <h1>Please enter your email to continue</h1>
  <form action="/auth/setEmail" method="POST">
    <label for="email">Email Address:</label><input type="email" name="email" />
    <label for="emailConfirm">Confirm Email:</label><input type="email" name="confirmEmail" />
    <input type="submit" value="Continue" />
  </form>
</body>
</html>
